body{
	height: 700px;
}

#activity-timeline-div{
	height: 40%;
	width: 100%;
}

#activity-spiral-div{
	height: 60%;
	width: 35%;
	/*background-color: gray;*/
	float: left;
}

#control-panel-div{
	height: 60%;
	width: 25%;
	float:left;
}

#clusters-div{
	height: 60%;
	width: 40%;
	background-color: orange;
	float:right;
}

#spiral-control-div{
	position: absolute;
	margin-left: 5px;
	margin-top: 5px;
}

ul {
        margin:0;
}
ul li {
    line-height:33px;
    padding:0 5px;
    border-bottom:1px ridge #aaa;
    margin:0;
}
ul li:last-child {
    border:none;
}