body{
	height: 700px;
}

#activity-timeline-div{
	height: 40%;
	width: 100%;
}

#activity-spiral-div{
	height: 60%;
	width: 35%;
	/*background-color: gray;*/
	float: left;
}

#control-panel-div{
	height: 60%;
	width: 25%;
	background-color: #666666;
	float:left;
}

#clusters-div{
	height: 60%;
	width: 40%;
	background-color: orange;
	float:right;
}

